@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }
  
  h3 {
    @apply text-2xl font-bold;
  }
  
  h4 {
    @apply text-xl font-bold;
  }
  
  h5 {
    @apply text-base font-bold;
  }
  
  h6 {
    @apply text-sm font-bold;
  }
}